# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# IDE / OS
.DS_Store
.vscode/
.idea/

# Archivos de entrada y salida
input/*
!input/.gitkeep
output/*
!output/.gitkeep

# Excel temporales
~$*.xlsx
~$*.xls
